<!doctype HTML>
<html lang="en-us">
  <head>
    <title>Tuple Talks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400" rel="stylesheet">
  </head>
  <body>
    {% include header.html %}
    {{ content }}
  </body>
</html>
